@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  .text-balance {
    text-wrap: balance; /* text-wrap: balance; */
  }
}


@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 346.8 77.2% 49.8%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 346.8 77.2% 49.8%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 20 14.3% 10%; /* Aumentar el lightness para un fondo más claro */
    --foreground: 0 0% 90%; /* Mantener alto el foreground pero ligeramente más bajo */
    --card: 24 9.8% 20%; /* Aumentar el lightness del color de las tarjetas */
    --card-foreground: 0 0% 90%; /* Bajar ligeramente la claridad del texto en las tarjetas */
    --popover: 0 0% 18%; /* Aclarar los popovers */
    --popover-foreground: 0 0% 90%; /* Ajustar foreground para más contraste */
    --primary: 346.8 77.2% 60%; /* Subir la claridad del color primario */
    --primary-foreground: 355.7 100% 95%; /* Mantener alto pero ligeramente más bajo */
    --secondary: 240 3.7% 25%; /* Aclarar el color secundario */
    --secondary-foreground: 0 0% 90%; /* Bajar un poco la claridad del foreground secundario */
    --muted: 0 0% 25%; /* Aclarar los colores apagados */
    --muted-foreground: 240 5% 75%; /* Hacer el foreground más visible */
    --accent: 12 6.5% 25%; /* Aclarar el color de acento */
    --accent-foreground: 0 0% 90%; /* Ajustar la claridad del foreground del acento */
    --destructive: 0 62.8% 40%; /* Aumentar la claridad del destructivo */
    --destructive-foreground: 0 85.7% 95%; /* Mantener un buen contraste */
    --border: 240 3.7% 25%; /* Aumentar la claridad del borde */
    --input: 240 3.7% 25%; /* Aclarar los inputs */
    --ring: 346.8 77.2% 60%; /* Aumentar la claridad del ring */
    --chart-1: 220 70% 60%; /* Aumentar la claridad del primer chart */
    --chart-2: 160 60% 55%; /* Aclarar el segundo chart */
    --chart-3: 30 80% 65%; /* Aumentar la claridad del tercer chart */
    --chart-4: 280 65% 70%; /* Aumentar la claridad del cuarto chart */
    --chart-5: 340 75% 65%; /* Aclarar el quinto chart */
  }
  
}


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
